.ListOfAnime {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
}

.Anime img{
  min-width: 200px;
  min-height: 300px;
}

.Anime{
  margin-bottom: 10px;
  margin-inline: 1px;
  
}