:root {
  --results-columns:6
}

.ListOfAnime {
  column-count: var(--results-columns);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100vh;
  column-gap: .1em;
  display: inline-block;
  padding-left: 5dp;
  
}


.Anime img{
  min-width: 225px;
  min-height: 314px;
}